<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- parte onde o vídeo estará disposto -->
  <div class="video">
    <h5>Video sobre programação</h5>
    <!-- coloca o vídeo na tela do site e permite que ele rode diretamente la -->
    <iframe width=100% height=100%
      src="https://www.youtube.com/embed/ZJVC36TdfwQ?list=PLuXkauUmG1ZH7iJfW5GpAKAQTo_NL5PZ7"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>



</ion-content>
